*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    background-image: url('../images/banner.avif');
}
.main-box{
    border:2px solid black;
    width: 73%;
    margin: auto;
    padding: 10% 0;
}
.banner-box{
    /* background: rgb(200, 200, 200);
    height: calc(100vh - 30rem);
    min-height: 27rem;
    max-height: 57rem;
    width: 100%;
    position: relative;
    overflow: hidden; */
}
.zom-link{
    padding: 0 10px;
    color: white;
    font-size: 20px;
}

/* .card-data{
    position: absolute;
    bottom: 0;
    background: white;
} */

/* .dropdown-toggle::after{
    margin-left: 28.255em !important;
} */

.datata{
    background: lightgray;
    border: 1px solid gray;
    border-radius: 7px;
    padding: 15px;
}

.link-zom{
    color: rgb(130, 130, 130);
    text-decoration: none;
    padding-right: 10px;
}
.zom-zom{
    display: flex;
    justify-content: center;
    align-content: center;
}

